<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/inputnumber.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <title>购物车</title>
</head>

<body>
  <div class="app-container" id="app">
    <!-- 顶部banner -->
    <div class="banner-box"><img src="./img/fruit.jpg" alt="" /></div>
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <span>🏠</span>
      /
      <span>购物车</span>
    </div>
    <!-- 购物车主体 -->
    <div class="main" v-if="fruitList.length > 0">
      <div class="table">
        <!-- 头部 -->
        <div class="thead">
          <div class="tr">
            <div class="th">选中</div>
            <div class="th th-pic">图片</div>
            <div class="th">单价</div>
            <div class="th num-th">个数</div>
            <div class="th">小计</div>
            <div class="th">操作</div>
          </div>
        </div>
        <!-- 身体 -->
        <div class="tbody">
          <div v-for="(item,index) in fruitList" :key="item.id" class="tr" :class="{active: item.isChecked}">
            <div class="td"><input type="checkbox" checked v-model="item.isChecked" /></div>
            <div class="td"><img :src="item.icon" alt="" /></div>
            <div class="td">{{item.price}}</div>
            <div class="td">
              <div class="my-input-number">
                <button class="decrease" @click="delNum(item.id)" :disabled="item.num <= 1"> - </button>
                <span class="my-input__inner">{{item.num}}</span>
                <button class="increase" @click="addNum(item.id)"> + </button>
              </div>
            </div>
            <div class="td">{{item.price * item.num}}</div>
            <div class="td" @click="del(item.id)"><button>删除</button></div>
          </div>


        </div>
      </div>
      <!-- 底部 -->
      <div class="bottom">
        <!-- 全选 -->
        <label class="check-all">
          <input type="checkbox" v-model="isAll" />
          全选
        </label>
        <div class="right-box">
          <!-- 所有商品总价 -->
          <span class="price-box">总价&nbsp;&nbsp;:&nbsp;&nbsp;¥&nbsp;<span class="price">{{allPrice}}</span></span>
          <!-- 结算按钮 -->
          <button class="pay">结算({{allCount}})</button>
        </div>
      </div>
    </div>
    <!-- 空车 -->
    <div class="empty" v-else>🛒空空如也</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const defaultFruitList = [
      {
        id: 1,
        icon: './img/火龙果.png',
        isChecked: true,
        num: 2,
        price: 6,
      },
      {
        id: 2,
        icon: './img/荔枝.png',
        isChecked: false,
        num: 7,
        price: 20,
      },
      {
        id: 3,
        icon: './img/榴莲.png',
        isChecked: false,
        num: 3,
        price: 40,
      },
      {
        id: 4,
        icon: './img/鸭梨.png',
        isChecked: true,
        num: 10,
        price: 3,
      },
      {
        id: 5,
        icon: './img/樱桃.png',
        isChecked: false,
        num: 20,
        price: 34,
      },
    ]
    // 安全读取本地存储，防止JSON.parse(null)报错
    function getLocalList() {
      const str = localStorage.getItem('list')
      // 情况1：完全没有存储记录 null
      if (!str) return defaultFruitList
      try {
        const arr = JSON.parse(str)
        // 情况2：存了空数组 []，也返回默认示例数据
        if (Array.isArray(arr) && arr.length === 0) {
          return defaultFruitList
        }
        return arr
      } catch (err) {
        console.log('本地存储解析异常', err)
        return defaultFruitList
      }
    }

    const app = new Vue({
      el: '#app',
      data: {
        // 水果列表
        fruitList: getLocalList()
      },
      methods: {
        del(id) {
          this.fruitList = this.fruitList.filter(item => item.id !== id)
        },
        addNum(id) {
          const fruit = this.fruitList.find(item => item.id === id)
          fruit.num++
        },
        delNum(id) {
          const fruit = this.fruitList.find(item => item.id === id)
          fruit.num--
        }
      },
      watch: {
        fruitList: {
          deep: true,
          handler(newValue) {
            localStorage.setItem('list', JSON.stringify(newValue))
            if(newValue.length === 0){
              localStorage.removeItem('list')
            }
          }
        }
      },
      computed: {
        isAll: {
          get() {
            return this.fruitList.every(item => item.isChecked)
          },
          set(value) {
            return this.fruitList.forEach(item => item.isChecked = value)
          }
        },
        allCount() {
          return this.fruitList.reduce((sum, item) => {
            if (item.isChecked) {
              return sum + item.num
            } else {
              return sum
            }
          }, 0)
        },
        allPrice() {
          return this.fruitList.reduce((sum, item) => {
            if (item.isChecked) {
              return sum + (item.num * item.price)
            } else {
              return sum
            }
          }, 0)
        }
      }
    })
  </script>
</body>

</html>